<div class="container">
  {{productForm.value | json}}
</div>
<div class="container">
  {{newProduct | json}}
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm.value)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="newProduct.name" name="name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Description" [(ngModel)]="newProduct.description" name="description">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Price" [(ngModel)]="newProduct.price" name="price">
        </div>
        <div class="form-group">
          <button class="btn btn-outline-primary" type="submit">Tạo mới</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of fillterProduct">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="edit(product)">Edit</button>
              <button type="button" class="btn btn-primary" (click)="remove(product.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
